/* body {
  overflow-x: hidden;
} */
.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.aaa{
    height: 120px;
    background-color: #120443;
}
.card {
  width: 20vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px 10px 10px 10px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

.card:nth-child(odd) {
  align-self: flex-end;
  background-color: #120443;
}

.card-text {
  font-size: 28px;
  color: #fff;
}

.bbb{
    height: auto;
}