.swiper {
  width: 500px;
  height: 500px; 
  object-fit: cover;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 40px 60px; */
}

.myThumbs {
  widows: 100px;
  height: 100px;
}
